 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: cornflowerblue;
    text-align: center;
}
img{
    width: 100%;
    vertical-align: middle;
}
.home{
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../assets/background.png);
    background-size: cover;
    background-position: fixed;
    min-height: 100vh;
}
.card {
    width: 100%;
    border: 1px solid #fafafa;
    border-radius: 8px;
    overflow: hidden;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-body {
    flex: 1;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-body .title {
    text-align: center;
    margin-bottom: 10px;
}
.card-body .title h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: cursive;
}
.card-body .details {
    text-align: center;
}
.card-body .details p {
    font-size: 18px;
    font-weight: 600;
}
.powers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 8px;
}
.btn {
    font-size: 22px;
    text-align: center;
    display: block;
    width: 100%;
    background: skyblue;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
}
.card-img img{
    height: 240px;
    object-fit: cover;
}
.role {
    width: 200px;
    position: absolute;
    top: 30px;
    background: #fff;
    padding: 5px 8px;
    border-radius: 15px;
    left: -50px;
    transform: rotate(-45deg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
}
.role h4{
    font-size: 23px;
    font-weight: bold;
}
.side-bar {
    width: 100%;
    background: #fafafa;
    padding: 20px 15px;
    border-radius: 8px;
}
.side-bar .salary,
.side-bar .actors-name{
    margin: 20px 0;
    padding: 15px 10px;
    border-top: 2px solid rgba(240, 128, 128, 0.253) ;
    border-bottom: 2px solid rgba(240, 128, 128, 0.253) ;
}
.side-bar .actors-name p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.side-bar .actors-name p:last-child{
    margin-bottom: 0px;
}